.footer[data-v-97f8adf2] {
  text-align: right;
}
.footer .btn + .btn[data-v-97f8adf2] {
  margin-left: 10px;
}
.media-container[data-v-97f8adf2] {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  justify-content: center;
  margin-top: 20px;
  padding: 10px 0;
  gap: 10px;
}
@media screen and (prefers-color-scheme: dark) {
.media-container[data-v-97f8adf2] {
    background: none;
}
}
.media-container .media[data-v-97f8adf2] {
  padding: 10px;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 160px;
}
@media screen and (prefers-color-scheme: dark) {
.media-container .media[data-v-97f8adf2] {
    background: none;
}
}
.media-container .media .cover[data-v-97f8adf2] {
  width: 160px;
  height: 100px;
}
.media-container .media.selected[data-v-97f8adf2] {
  border-color: #358457;
}
.image-container[data-v-243f8c09] {
  position: relative;
}
.image[data-v-243f8c09] {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.empty-image[data-v-243f8c09] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #ccc;
  cursor: pointer;
  color: #666;
  height: 100%;
  width: 100%;
}
.remove[data-v-243f8c09] {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #fff;
  background: #000;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer[data-v-b1ef4ab0] {
  text-align: right;
}
.footer .btn + .btn[data-v-b1ef4ab0] {
  margin-left: 10px;
}
.inline-items[data-v-b1ef4ab0] {
  display: flex;
  gap: 10px;
}
.inline-items .inline-item[data-v-b1ef4ab0] {
  display: inline-flex;
  align-items: center;
}
