.button-group[data-v-ea4d932d] {
  display: inline-flex;
  align-items: stretch;
}
.button-group.small .icon-container[data-v-ea4d932d] {
  width: 14px;
}
.icon-container[data-v-ea4d932d] {
  border-radius: 0px 3px 3px 0px;
  position: relative;
  width: 22px;
  cursor: pointer;
  border-left: 1px solid #358457;
  padding: 0 4px;
  background: #18a058;
}
.icon-container[data-v-ea4d932d]:hover {
  background: #36ad6a;
}
.icon-container .icon[data-v-ea4d932d] {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icon-container .cart-down-icon[data-v-ea4d932d] {
  color: white;
}
