.input[data-v-f786d71f] {
  width: 100%;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0;
  font-size: 15px;
  caret-color: #18a058;
  background: none;
}
@media screen and (prefers-color-scheme: dark) {
.input[data-v-f786d71f] {
    color: rgba(255, 255, 255, 0.82);
}
}
.input[data-v-f786d71f]:focus {
  outline: none;
}
.draggable[data-v-31511b20] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.draggable[data-v-31511b20]:has(.editable-text:focus) {
  border: 1px solid #36ad6a;
}
.handle[data-v-31511b20] {
  cursor: move;
  margin-right: 10px;
}
.remove[data-v-31511b20] {
  cursor: pointer;
}
.remove[data-v-31511b20] :hover {
  color: #18a058;
}
