.draggable[data-v-31511b20] {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.draggable[data-v-31511b20]:has(.editable-text:focus) {
  border: 1px solid #36ad6a;
}
.handle[data-v-31511b20] {
  cursor: move;
  margin-right: 10px;
}
.remove[data-v-31511b20] {
  cursor: pointer;
}
.remove[data-v-31511b20] :hover {
  color: #18a058;
}

.empty-area[data-v-c0dec8a2] {
  height: 200px;
  border: 1px dashed rgb(224, 224, 230);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: border-color 0.2s;
}
.empty-area[data-v-c0dec8a2]:hover,
.empty-area.dragging[data-v-c0dec8a2] {
  border-color: #18a058;
}
.dragging[data-v-c0dec8a2] {
  border-color: #18a058 !important;
}
