.global-checkbox[data-v-1a918d8b] {
  flex: none;
  margin-left: auto;
}
.title-var[data-v-1a918d8b] {
  display: inline-block;
  margin-top: 4px;
  margin-right: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}
.title-var[data-v-1a918d8b]:not(.disabled):hover {
  background-color: #e0e0e0;
}
.title-var.disabled[data-v-1a918d8b] {
  cursor: not-allowed;
}

.footer[data-v-bae4025c] {
  text-align: right;
.btn + .btn[data-v-bae4025c] {
    margin-left: 10px;
}
}
.item[data-v-1567176d] {
  display: flex;
}
.item[data-v-bb98e6da] {
  display: flex;
}
.footer[data-v-475af16e] {
  text-align: right;
}
.footer .btn + .btn[data-v-475af16e] {
  margin-left: 10px;
}
.room-list[data-v-475af16e] {
  gap: 15px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
}
.room-list .room[data-v-475af16e] {
  padding: 8px 14px;
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 4px;
}
.room-list .room[data-v-475af16e]:hover {
  border: 1px solid #358457;
}
.setting-tab[data-v-475af16e] .n-tab-pane {
  overflow: auto;
  height: calc(100vh - 200px);
}

/* 你可以在这里添加组件的样式 */
.center {
  text-align: center;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.flex.align-center,
.inline-flex.align-center {
  align-items: center;
}
.flex.justify-center,
.inline-flex.justify-center {
  justify-content: center;
}
.flex.column,
.inline-flex.column {
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
/* 宽度和颜色可以根据需要进行调整 */
::-webkit-scrollbar {
  width: 8px;
  /* 滚动条宽度 */
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background-color: none;
  /* 滚动条轨道背景颜色 */
}
@media screen and (prefers-color-scheme: light) {
::-webkit-scrollbar-thumb {
    background-color: #e1e1e9;
    /* 滚动条滑块颜色 */
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #6b6969;
    /* 鼠标悬停时滚动条滑块颜色 */
}
}
@media screen and (prefers-color-scheme: dark) {
::-webkit-scrollbar-thumb {
    background-color: #555;
    /* 滚动条滑块颜色 */
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #383838;
    /* 鼠标悬停时滚动条滑块颜色 */
}
}
.n-modal-body-wrapper {
  max-height: 95%;
  margin: auto;
}
.n-modal-body-wrapper .n-card__footer {
  position: sticky;
  bottom: 0;
  background: var(--n-color-modal);
  padding: 20px 40px;
}
a[href^="http"] {
  color: skyblue;
}
.driver-popover-close-btn {
  display: flex !important;
}
.main-container {
  margin: 15px;
  margin-right: 0px;
}
.main-container > .n-layout-scroll-container {
  padding-right: 10px;
}
.main-menu {
  margin-bottom: 100px;
}
.footer-menu {
  position: relative;
  z-index: 10;
  background: white;
}
@media screen and (prefers-color-scheme: dark) {
.footer-menu {
    background: #18181c;
}
}
