@media screen and (prefers-color-scheme: dark) {
body {
    background-color: #18181c;
}
}
.login-card[data-v-ce9ff6cf] {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
