.footer[data-v-44fac5db] {
  text-align: right;
}
.footer .btn + .btn[data-v-44fac5db] {
  margin-left: 10px;
}
.login-btns[data-v-d7f546f0] {
  display: inline-flex;
  gap: 10px;
}
.container[data-v-d7f546f0] {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}
.container .card[data-v-d7f546f0] {
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (prefers-color-scheme: dark) {
.container .card[data-v-d7f546f0] {
    border: none;
}
}
.container .card .face[data-v-d7f546f0] {
  width: 80%;
}
.container .card .menu[data-v-d7f546f0] {
  position: absolute;
  bottom: 0px;
  right: 5px;
}
@media screen and (prefers-color-scheme: dark) {
.container .card .menu[data-v-d7f546f0] {
    color: #333639;
}
}
.container .card.active[data-v-d7f546f0]::before {
  content: "正在使用";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.container .card.active .menu[data-v-d7f546f0] {
  color: #eee;
}
.section[data-v-d7f546f0] {
  padding: 5px 10px;
  cursor: pointer;
}
.section[data-v-d7f546f0]:hover {
  background-color: #eee;
}
@media screen and (prefers-color-scheme: dark) {
.section[data-v-d7f546f0]:hover {
    background-color: rgba(255, 255, 255, 0.09);
}
}
.expires[data-v-d7f546f0] {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #7cbd7d;
  color: white;
  padding: 4px 6px;
  border-radius: 0 10px 0 10px;
  font-size: 10px;
}
.username[data-v-d7f546f0] {
  color: black;
}
