.container .detail-info[data-v-7580b88c] {
  font-size: 12px;
  color: #999;
  display: flex;
  gap: 10px;
}
.container .content-container[data-v-7580b88c] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .name-container[data-v-7580b88c] {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.container .name-container .name[data-v-7580b88c] {
  margin-right: 10px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container .name-container .status[data-v-7580b88c] {
  flex: none;
  font-size: 12px;
  margin-right: 10px;
}
.container .btns[data-v-7580b88c] {
  flex: none;
  display: flex;
  gap: 4px;
}
.container .btns .btn[data-v-7580b88c] {
  padding: 5px;
}
.container .btns .btn[data-v-7580b88c]:hover {
  background: var(--bg-hover);
  border-radius: 50%;
}
.container[data-v-64382cba] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container .item[data-v-64382cba] {
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
  padding-top: 0;
}
.container .item .sub-item[data-v-64382cba] {
  margin-left: 15px;
}
