.filter[data-v-4919426c] {
  margin-bottom: 10px;
}
.file-list[data-v-4919426c] {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}
.file-list li[data-v-4919426c] {
  padding: 10px;
  cursor: pointer;
  margin-bottom: 5px;
  user-select: none;
}
.file-list li.selected[data-v-4919426c] {
  background-color: #ddd;
}
@media screen and (prefers-color-scheme: dark) {
.file-list li.selected[data-v-4919426c] {
    background-color: rgba(255, 255, 255, 0.09);
}
}
.file-list li[data-v-4919426c]:hover:hover {
  background-color: #eee;
}
@media screen and (prefers-color-scheme: dark) {
.file-list li[data-v-4919426c]:hover:hover {
    background-color: rgba(255, 255, 255, 0.09);
}
}
.file-actions[data-v-4919426c] {
  display: flex;
  justify-content: flex-end;
}
button[data-v-4919426c] {
  margin-left: 10px;
}
